@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;600;700;800&family=Poetsen+One&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General styles */

body {
    min-height: 100vh;
    font-family: "Mukta", sans-serif;
}

h1, h2, h3 {
    font-family: "Poetsen One", sans-serif;
    font-weight: 400;
    letter-spacing: 2px;
    color: white;
    text-transform: uppercase;
}

/* Header */

header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: transparent;
    z-index: 1;
}

/* Navigation */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px;
    width: 100%;
    font-size: 200%;
    font-weight: bold;
    text-shadow: 3px 4px 7px rgba(0, 0, 0, 0.2);
}

#menu {
    list-style: none;
    display: flex;
    margin-left: auto;
}

#menu li {
    margin: 0 10px;
}

#menu li a {
    color: white;
    border-radius: 12px;
    text-decoration: none;
    padding: 10px;
    transition: background-color 0.3s, color 0.3s;
}

#menu li a:hover {
    background-color: white;
    color: rgba(68, 68, 68, 0.9);
    border-radius: 12px;
    font-weight: bold;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

/* Hamburger Nav */

.nav-checkbtn {
    display: none;
    cursor: pointer;
    font-size: 2em;
    color: white;
}

.nav-closebtn {
    display: none;
    cursor: pointer;
    font-size: 2em;
    color: white;
}

#nav-check {
    display: none;
}

#nav-check:checked + .nav-checkbtn + #menu {
    display: flex;
    flex-direction: column;
    position: fixed; 
    left: 0; 
    top: 0; 
    background-color: rgba(68, 68, 68, 0.9); 
    width: 100%; 
    height: 100%; 
    padding: 20px; 
    align-items: center; 
    z-index: 2;
}

#nav-check:checked + .nav-checkbtn + #menu .nav-closebtn {
    display: block;
}

/* Hero section */

#hero {
    height: 100vh;
    width: 100%;
    background: url("../images/hero-pic.jpg") no-repeat center center/cover;
    position: relative;
    box-shadow: 0 29px 52px rgba(0,0,0,0.40), 0 25px 16px rgba(0,0,0,0.20);
}

#cover-text h1 {
    color: #f1f1f1;
    font-weight: bold;
}

#cover-text h2 {
    color: #f1f1f1;
    font-weight: bold;
}

#cover-text {
    font-size: 250%;
    text-transform: uppercase;
    letter-spacing: 4px;
    text-align: left;
    justify-content: center;
    position: absolute;
    left: 30px;
    top: 35%;
    width: 33%;
    text-shadow: 3px 4px 7px rgba(81, 67, 210, 0.8);
}

/* Logo */

#logo img {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    border: 5px solid white;
    padding: 15px;
    overflow: visible;
    margin-left: auto;
}

/* Contact and Map */

#contact {
    width: 100%;
    padding: 50px 0;
    background: url(../images/background-contact.png);
    background-position: center;
    background-repeat: repeat;
    background-size: fit;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    background-color: rgba(107, 163, 210, 1);
    border-radius: 12px;
    padding: 20px;
    margin: 0 auto;
    width: 90%;
    max-width: 1200px;
    box-shadow: 0 29px 52px rgba(0,0,0,0.40), 0 25px 16px rgba(0,0,0,0.20);
}

.contact-details {
    margin-top: 5%;
    width: 50%;
    color: white;
    text-align: center;
}

.contact-details h2 {
    font-size: 200%;
}

.contact-details p {
    font-size: 150%;
}

.contact-details h2, .contact-details p {
    margin-bottom: 10px;
    text-shadow: 3px 4px 7px rgba(81, 67, 210, 0.8);
}

.map {
    width: 50%;
}

/* Footer */

footer {
    height: 100px;
    background: rgba(107, 163, 210, 1);
    text-align: center;
    width: 100%;
    color: #f1f1f1;
    text-decoration: none;
}

.social li {
    display: inline;
}

.social i {
    font-size: 200%;
    color: #f1f1f1;
    margin: 10px 40px;
}

footer p {
    font-size: 120%;
    margin-top: 1%;
}

.fab:hover {
    transform: scale(1.5);
}

/* Media queries */

@media (max-width: 768px) {

    /* Navigation and Hamburger Nav */

    .nav-checkbtn {
        display: block;
    }

    #menu {
        display: none;
        flex-direction: column;
    }

    #nav-check:checked + .nav-checkbtn + #menu {
        display: flex;
    }

    #menu li a {
        padding: 3px;
    }

    /* Contact Section */

    .container {
        flex-direction: column;
        align-items: center;
    }

    .contact-details, .map {
        width: 100%;
    }

    .contact-details {
        margin-bottom: 20px;
    }

    /* Hero Cover Text */

    #cover-text {
        font-size: 200%;
        top: 30%;
        text-align: center;
        width: 100%;
        left: auto;
    }
}
