@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;600;700;800&family=Poetsen+One&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General styles */

body {
    min-height: 100vh;
    font-family: "Mukta", sans-serif;
}

h1, h2, h3 {
    font-family: "Poetsen One", sans-serif;
    font-weight: 400;
    letter-spacing: 2px;
    color: white;
    text-transform: uppercase;
}


/* Header */

header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: transparent;
    z-index: 2;
}

/* Navigation */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10px;
    width: 100%;
    font-size: 200%;
    font-weight: bold;
    text-shadow:  rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

#menu {
    list-style: none;
    display: flex;
    margin-left: auto;
}

#menu li {
    margin: 10px 10px;
}

#menu li a {
    color: white;
    border-radius: 12px;
    text-decoration: none;
    padding: 5px;
    transition: background-color 0.3s, color 0.3s;
}

#menu li a:hover { 
    background-color: white;
    color: rgba(68, 68, 68, 0.9);
    border-radius: 12px;
    font-weight: bold;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.active {  
    background-color:  rgba(107, 163, 210, 1);
}

/* Hamburger Nav */

.nav-checkbtn {
    display: none;
    cursor: pointer;
    font-size: 2em;
    color: white;
}

.nav-closebtn {
    display: none;
    cursor: pointer;
    font-size: 2em;
    color: white;
    
}

#nav-check {
    display: none;
}

#nav-check:checked + .nav-checkbtn + #menu {
    display: flex;
    flex-direction: column;
    position: fixed; 
    left: 0; 
    top: 0; 
    background-color: rgba(68, 68, 68, 0.9); 
    width: 100%; 
    height: 100%; 
    padding: 20px; 
    align-items: center; 
    z-index: 3;
}

#nav-check:checked + .nav-checkbtn + #menu .nav-closebtn {
    display: block;
}

/* Hero section */

#hero {
    height: 100vh;
    width: 100%;
    background: url("../images/hero-pic.jpg") no-repeat center center/cover;
    position: relative;
    box-shadow: 0 29px 52px rgba(0,0,0,0.40), 0 25px 16px rgba(0,0,0,0.20);
}

#cover-text h1 {
    color: #f1f1f1;
    font-weight: bold;
}

#cover-text h2 {
    color: #f1f1f1;
    font-weight: bold;
}

#cover-text {
    font-size: 4vh;
    text-transform: uppercase;
    letter-spacing: 4px;
    text-align: left;
    justify-content: center;
    position: absolute;
    left: 30px;
    top: 35%;
    width: 33%;
    text-shadow: 3px 4px 7px rgba(81, 67, 210, 0.8);
}

/* Hero video */

video {
    object-fit: cover;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

#hero-video video {

    width: 100%;
    height: 30vh;
    position: relative;
    overflow: hidden;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 29px 52px rgba(0,0,0,0.40), 0 25px 16px rgba(0,0,0,0.20);

}

/* Logo */

#logo {
    position: relative;
    top: 10px;
    left: 20px;
}

#logo img {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    border: 5px solid white;
    padding: 15px;
    overflow: visible;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

/* Contact and Map */

#contact, #services, #cakes-menu {
    width: 100%;
    padding: 80px 0;
    background: url(../images/background-contact.png) center center / auto no-repeat fixed;
    background-position: center;
    background-repeat: repeat;
    background-size: fit;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    background-color: rgba(107, 163, 210, 1);
    border-radius: 12px;
    padding: 20px;
    margin: 0 auto;
    width: 90%;
    max-width: 1200px;
    box-shadow: 0 29px 52px rgba(0,0,0,0.40), 0 25px 16px rgba(0,0,0,0.20);
}

.contact-details {
    margin-top: 5%;
    width: 50%;
    color: white;
    text-align: center;
}

.contact-details h2 {
    font-size: 200%;
}

.contact-details p {
    font-size: 150%;
}

.contact-details h2, .contact-details p {
    margin-bottom: 10px;
    text-shadow: 3px 4px 7px rgba(81, 67, 210, 0.8);
}

.map {
    width: 50%;
}

/* Services Section */
#services {
    display: flex;
    height: 500px;
    padding-top: 0px;
}

.service {
    flex: 1; 
    background-size: cover;
    background-position: center;
    transition: background-size 1s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    color: white;
    text-align: center;
    overflow: hidden;
    box-shadow: 0 29px 52px rgba(0,0,0,0.40), 0 25px 16px rgba(0,0,0,0.20);
    
}

.service-content {
    position: absolute;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.6); 
    border-radius: 12px;
    width: 80%;
}

.service-content p {
    font-size: 2vh;
}

.service-content h2 {
    font-size: 2.5vh;
}

#quality {
    background-image: url("../images/box-a.jpg"); 
}

#ingredients {
    background-image: url("../images/box-b.jpg");
}

.service:hover {
    background-size: 120%;
}

.service h2, .service p {
    padding: 10px;
}

/* Order Form */

.form {
    background: url("../images/background-order.jpg") center top / cover no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    width: 100%;
    height: 90vh;
}

.quote-form {
    color: #f1f1f1;
    background-color: rgba(0, 0, 0, 0.6); 
    max-width: 800px;
    width: 80%;
    padding: 30px;
}

.quote-form h2 {
    color: #f1f1f1;
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 3vh;
    text-align: center;

}

.form-group {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.form-group label {
    width: 30%;
    text-align: center;
    margin-right: 10px;
}

.form-group input,
.form-group select {
    background: transparent;
    color: #f1f1f1;
    width: 70%;
    height: 25px;
    margin: 5px 0;
    border: 2px solid #eccece;
    border-radius: 2px;
    box-sizing: border-box;
}

.text-input:hover,
input[type=date]:hover,
input[type=range]:hover,
input[type=radio]:hover,
select:hover {
    border-color: rgba(107, 163, 210, 1);
}

.send-button {
    border-radius: 12px;
    padding: 15px 32px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    background-color: rgba(107, 163, 210, 1);
    color: white;
    display: block;
    margin: 2% auto;
}

.send-button:hover {
    background-color: white;
    color: #bd1736;
}

legend {
    font-size: 2vh;
    font-weight: bold;
    margin: 5px 0;
}

input[type=date],
input[type=range],
input[type=radio],
select {
    height: 25px;
    margin: 5px 0 20px 0;
    border: 1px solid white;
    border-radius: 2px;
}

fieldset.extras {
    display: flex;
    justify-content: center;
    align-items: center;
}

.extras input[type=radio] {
    width: auto;
    margin: 0 10px;
}

.extras .form-group {
    margin: 0 10px;
}

/* Cakes Menu Page */
#cakes-menu {
    height: 60vh;
}

.menu-section {
    margin-bottom: 40px;
}

.menu-section h2 {
    font-size: 2.5em;
    margin-bottom: 20px;
    text-align: center;
}

.menu-item {
    margin-bottom: 20px;
}

.menu-item h3 {
    font-size: 1.5em;
}

.menu-item p {
    font-size: 1em;
    color: rgb(221, 226, 230);
}

/* Footer */

footer {
    height: 10vh;
    background: rgba(107, 163, 210, 1);
    text-align: center;
    width: 100%;
    color: white;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}

footer ul {
    display: flex;
    list-style: none;
    padding: 0;
}

footer ul li {
    margin: 0 30px;
}

footer ul li a {
    color: #f1f1f1;
    font-size: 2.5vh;
}

footer p {
    font-size: 1.25vh;
    margin-top: 1%;
}

.fab:hover {
    transform: scale(1.5);
}

/* Signature */

.signature {
    margin-top: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fa-heart {
    font-size: 2em;
    margin: 0 5px;
}

/* Media queries */

/* For medium screens */

@media (max-width: 1170px) {
     
    /* Services */

     #services {
        display: flex;
        flex-direction: column;
        height: 1000px;
    }
    
    .service {
        margin: 10px 0;
        padding: 10px 0;
    }
    .service-content {
        width: 100%;
    }

    /* Hero section */

    #cover-text {
        font-size: 3.5vh;
    }

    /*Cakes Menu */

    #cakes-menu {
        height: 50%;
    }
}
/* For small screens */

@media (max-width: 768px) {

    /* Navigation and Hamburger Nav */

    .nav-checkbtn {
        display: block;
    }

    #menu {
        display: none;
        flex-direction: column;
    }

    #nav-check:checked + .nav-checkbtn + #menu {
        display: flex;
    }

    /* Hero section */

    #cover-text {
        top: 40%;
        text-align: center;
        width: 100%;
        left: auto;
}

    #menu li a {
        padding: 3px;
    }

     /* Contact Section */

     .container {
        flex-direction: column;
        align-items: center;
    }

    .contact-details, .map {
        width: 100%;
    }

    .contact-details {
        margin-bottom: 20px;
    }   

    /* Order Form */

    .form {
        height: 1250px;
    }

    .quote-form {
        padding: 20px;
        margin-top: 150px;
    }

    .form-group {
        flex-direction: column;
        align-items: flex-start;
    }

    .form-group label {
        width: 100%;
        margin-bottom: 5px;
    }

    .form-group input,
    .form-group select {
        width: 100%;
    }

   
}
